
.jumbotron {
    background-color: black;
    background-image: url("https://media3.giphy.com/media/gfW7chQvIE2Va/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -130px;
    height: 150px;
    z-index: -1;
  }
h1 {
    color: white;
}
h3 {
    font-size: 200%;
}
p {
    font-size: 150%
}
img {
    width: 100%;
}
.smaller-img {
    width: 50%;
}
/* .container {
    background-color: blanchedalmond;
} */